.container{
    min-height: 80vh;
}
h1{
    text-align: center;
    margin: 10px 0px;
}
.myform{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.myinput{
    width: 400px;
padding: 7px;
margin: 7px;
border: 2px solid grey;
border-radius: 10px;
outline: none;
}
.btn{
    padding:6px;
    border-radius: 10px;
    outline: none;
    margin: 6px;
    font-size: 13px;
    width: 5%;
    cursor: pointer;
}
.btn:hover{
    background-color:snow;
    color: black;
}